<div id="formModalOuter" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body">
                <h3>BOOK YOUR <span>FREE</span> CONSULTATION</h3>
                <h4>For a free consultaion <a class="contact-btn-inline" href="tel:{{content.tellnumber}}">
                    <div class="number">
                        <strong>Call: {{content.tellnumber}}</strong>
                    </div>
                </a></h4>
                <div class="formContainer portait">
                    <form action="/consultation.php" method="POST">
                        <input type="hidden" name="company" value="1">
                        <input type="hidden" name="sourceForm" value="{{form-source-pop}}">
                        <input type="hidden" name="product" value="Invisalign">
                        <input type="hidden" name="treatment" value="3" />
                        [!trackingFields!]

                        <div class="formRow">
                            <input type="text" name="first_name" id="first_nameB" placeholder="FIRST NAME" required />
                        </div>
                        <div class="formRow">
                            <input type="text" name="last_name" id="last_nameB" placeholder="SECOND NAME" required />
                        </div>
                        <div class="formRow">
                            <input type="text" name="phone" placeholder="PHONE" required />
                        </div>
                        <div class="formRow">
                            <input type="text" name="email" placeholder="EMAIL" required />
                        </div>
                        <div class="formRow required">
                            <input type="text" name="address" placeholder="REQUIRED ADDRESS" />
                        </div>
                        <div class="formRow">
                            <input type="text" name="postcode" placeholder="POSTCODE" required />
                        </div>
                        <div class="formRow">
                            {{>form-tc-meta}}
                        </div>
                        <div class="formRow">
                            <input type="submit" class="submit" name="submitF" value="BOOK NOW" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




