<div class="inv-holder">
    <div class="inv-item">
        <div class="inv-item-holder">
            <h3 class="text-center"><img src="/images/invisalign_logo.png" alt="Invisalign logo"> Full</h3>
            <h2 class="text-center">
               Up to <strong>18 months</strong> / <strong>unlimited aligners</strong></br>
                <strong>5-year</strong> guarantee</br>
               <strong>Unlimited</strong> refinements post-treatment
            </h2>
            <div class="inv-item_Price">
                <span class="ipPerMonth"> <strike>£3,750</strike><strong>£2,995</strong></span>
                <span class="ipFull">or £57 <span>per month</span><sup>3</sup></span>
            </div>
        </div>
    </div>
</div>