<div class="inv-holder">
    <div class="inv-item">
        <div class="inv-item-holder">
            <h3><img src="/images/invisalign_logo.png" alt="Invisalign logo"> Full</h3>
            <ul>
                <li>Up to <strong>18 months</strong> / <strong>unlimited aligners</strong></li>
                <li><strong>5-year</strong> guarantee</li>
                <li><strong>Unlimited</strong> refinements post-treatment</li>
            </ul>
            <div class="inv-item_Price">
                <span class="ipPerMonth"> <strike>£3,750</strike>£57 <span>per month</span><sup>3</sup></span>
                <span class="ipFull">or <strong>£2,995</strong></span>
            </div>
        </div>
    </div>
</div>